[Unit]
Description=ROS Core+Launch
Documentation=http://wiki.ros.org/robot_systemd
After=network-online.target systemd-udevd.service
Wants=network-online.target systemd-udevd.service
AssertPathExists=/opt/ros

[Service]
Type=simple
SyslogIdentifier=ros_%I
Environment=SD_INSTANCE=%I
Environment=ROS_DISTRO=kinetic
EnvironmentFile=-/etc/ros/environment
EnvironmentFile=-%h/.ros/environment

ExecStart=/bin/bash -c ' \
  source $${ROS_SETUP:=/opt/ros/$$ROS_DISTRO/setup.bash} && \
  exec /opt/ros/$$ROS_DISTRO/bin/roslaunch $${SD_INSTANCE%:*} $${SD_INSTANCE#*:} \
'

[Install]
WantedBy=default.target
